.defaultHidden {
  display: none;
}

#theoryPropSel:checked ~ #theoryPropGrid,
#BHPropSel:checked ~ #BHPropGrid,
#NSPropSel:checked ~ #NSPropGrid,
#consSel:checked ~ #ConsGrid
{
  display: block;
}

#bibGrid a:hover {
  text-decoration: underline;
}

input[name='tabSelect'] { display: none; }
label.tabSelectLabel {
    display: inline-block; padding: 8px 8px; text-align: center;
    margin: 0;
    border-radius: 10px 10px 0 0;
    border: 1px solid #c4e2ff;
    border-bottom: none;
}

label.tabSelectLabel:hover { background:#c4e2ff; cursor: pointer; }
input[name='tabSelect']:checked + label.tabSelectLabel {
    background: #b4d2ff;
    border-color: #b4d2ff;
}

input[disabled],select[disabled],textarea[disabled],input[readonly],select[readonly],textarea[readonly] {
  opacity:unset;
  cursor:unset;
}
table {
  margin-bottom:unset;
  border: unset;
}

.ref-cell { padding: 0; }

.ref-cell input { display: none; }
.ref-cell input[disabled] + label:hover {
    cursor:default;
}
.ref-cell input:not([disabled]) + label:hover {
    background: #c4e2ff;
    border-color: #c4e2ff;
    cursor:pointer;
}
.ref-cell input:checked + label {
    background: #b4d2ff;
    border-color: #b4d2ff;
}
